body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    height: 100vh;
    overflow: hidden;
}

header{
    font-size: 3vw;
    font-family: papyrus, fantasy;
    padding-left: 30px;
    padding-top: 30px;
    color: beige;
    
}

.menu {
    color: beige;
    font-size: 1.2vw;
    width: 15vw;
    height: 20vw;
    margin-left: 5vw;
    margin-top: 5vw;
    font-family: papyrus, fantasy;  
    border-style: solid;
    
}

.burger-menu {
    display: none;
}

@media (max-width: 1000px)
{
.menu {
    display: none;
}

  
}

@media (min-width: 1000px)
{
    .burger-menu-button {
        display: none;
        align-content: center;
    }

.burger-menu-button {
    padding-left: 100px;
}

ul {
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: beige;
}