body {
    margin: 0;
    padding: 0;
}

header{
    font-size: 3vw;
    font-family: papyrus, fantasy;
    padding-left: 20px;
    padding-top: 10px;
}

.menu {
    font-family: papyrus, fantasy;
}

ul {
    list-style: none;
}

.menu a{
    text-decoration: none;
    
}