body {
    margin: 0;
    padding: 0;
    background-color: #003b59;

}

header{
    font-size: 3vw;
    font-family: papyrus, fantasy;
    text-align: center;
    padding-top: 30px;
    color: beige;
    
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}
.menu {
    grid-column: 2/3;
    text-align: center;
    color: beige;
    border-width: 5px;
    margin-top: 5vw;
    font-family: papyrus, fantasy; 
    border-style: dashed;
    text-align: center; 
    
    
}

.burger-menu{
    display: none;
}

@media (max-width: 1150px)
{
.menu {
    display: none;
}


  
}

@media (min-width: 1150px)
{
    .burger-menu-button {
        display: none;
        align-content: top;
    }

}

nav {
    padding-left: 25px;
    padding-top: 50px;
}

ul {
    list-style: none;
    
}

.menu a{
    text-decoration: none;
    color: beige;
    font-size: 1vw;
}

h1 {
    color: beige;
    font-size: 60px;
    font-family: papyrus, fantasy;
    text-align: center;
}

h2 {
    color: beige;
    font-size: 45px;
    font-family: papyrus, fantasy;
    text-align: center;
}

p, li {
    font-family: papyrus, fantasy;
    color: beige;
    font-size: 30px;
    position: relative;
    

}

.heading {
    font-size: 40px;
    font-family: papyrus, fantasy;
}

.burger-menu{
   background-color: beige;

}